<div class="detail-dialog">
  <h1 mat-dialog-title>
    <div class="word-set">
      <div class="word">{{word.word}}</div>
      <div class="word-speech">{{word.speech}}</div>
      <div class="word-chinese">{{word.chinese}}</div>
    </div>
  </h1>
  <div mat-dialog-content>
    <div class="sentence-set">
      <div class="word-sentence">{{word.sentence}}</div>
      <div class="word-sentence-chinese">{{word.sentenceChinese}}</div>
    </div>
    <div class="other-set">
      <div class="word-other" *ngIf="word.antonym"><span class="word-other-bg">反</span>{{word.antonym}}</div>
      <div class="word-other" *ngIf="word.synonym"><span class="word-other-bg">同</span>{{word.synonym}}</div>
      <div class="word-other" *ngIf="word.derivative"><span class="word-other-bg">衍</span>{{word.derivative}}</div>
      <div class="word-other" *ngIf="word.phrase"><span class="word-other-bg">片</span>{{word.phrase}}</div>
      <div class="word-other" *ngIf="word.note"><span class="word-other-bg">註</span>{{word.note}}</div>
      <div class="word-other" *ngIf="word.note2"><span class="word-other-bg">註</span>{{word.note2}}</div>
    </div>
  </div>
  <div class="level-area"><span class="word-level">{{word.level}}</span><span class="word-level">Lesson
      {{word.lesson}}</span></div>
  <div mat-dialog-actions class="dialog-actions">
    <button (click)="onNoClick()">關閉</button>
  </div>
</div>