<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
  <!-- User profile image -->

  <img *ngIf="!store.user" src="assets/images/users/man.png" alt="user" class="profile-img">
  <img *ngIf="store.user && store.user.gender === 'male'" src="assets/images/users/male.png" alt="user"
    class="profile-img">
  <img *ngIf="store.user && store.user.gender === 'female'" src="assets/images/users/female.png" alt="user"
    class="profile-img">
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div class="profile-text"><a [routerLink]="['/']"> {{store.user ? store.user.name :'匿名使用者'}} <i
        class="ti-angle-down font-12 m-l-5"></i></a></div>

</div>
<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected"
    group="{{menuitem.state}}">
    <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>


  </mat-list-item>

</mat-nav-list>