<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>累積單字</mat-card-title>
        <mat-card-subtitle>紀錄每年的單字量</mat-card-subtitle>
      </div>
      <div class="ml-auto">
        <ul class="list-inline">
          <li>
            <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>完成量
            </h6>
          </li>
        </ul>
      </div>
    </div>

    <div class="barchrt" style="height:360px;">
      <x-chartist class="" [data]="this.store.overview.data" [type]="this.store.overview.type"
        [options]="this.store.overview.options" [responsiveOptions]="this.store.overview.responsiveOptions"
        [events]="this.store.overview.events"> </x-chartist>
    </div>
  </mat-card-content>
</mat-card>