<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/man1.png" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">匿名使用者</h3>
        <h6 class="m-t-0 ">尚未登入</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">登入</button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">0</h3>
                <small>備註量</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">0</h3>
                <small>閱讀量</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">0</h3>
                <small>完成量</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>
