<div class="admin-outer">
  <div class="model-body">
    <div class="table-area">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>標題</th>
          <td mat-cell (click)="edit(element)" *matCellDef="let element" class="click-td">{{element.title}}</td>
        </ng-container>
        <!-- showDate Column -->
        <ng-container matColumnDef="showDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>時間</th>
          <td mat-cell *matCellDef="let element">{{element.showDate}}</td>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>操作</th>
          <td mat-cell *matCellDef="let element" (click)="deleteAction(element._id,element.title)" class="click-td">刪除</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">查無資料</td>
        </tr>
      </table>
      <mat-paginator [length]="currentPage.length" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div class="action-area">
    <div class="word-area" *ngIf="type === 'delete'">
      <mat-card-title>刪除句子</mat-card-title>
      <mat-card-subtitle>Delete Article</mat-card-subtitle>
      <div>
        <div class="confirm-text">確定刪除<span style="color:orangered">{{actionTitle}}</span>?</div>
        <div class="button-area">
          <button (click)="delete()" mat-raised-button color="primary">刪除</button>
          <button (click)="new()" mat-raised-button color="warn">取消</button>
        </div>
      </div>
    </div>
    <div class="word-area" *ngIf="type === 'add'">
      <mat-card-title>新增句子</mat-card-title>
      <mat-card-subtitle>New Article</mat-card-subtitle>
      <div class="form-area">
        <mat-form-field appearance="legacy">
          <mat-label>標題</mat-label>
          <input matInput [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>英文</mat-label>
          <input matInput [(ngModel)]="english">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>中文</mat-label>
          <input matInput [(ngModel)]="chinese">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>時間</mat-label>
          <input matInput [(ngModel)]="showDate">
        </mat-form-field>
      </div>
      <div class="form-area">
        <mat-form-field appearance="legacy">
          <mat-label>單字英文</mat-label>
          <input matInput [(ngModel)]="wordE">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>單字中文</mat-label>
          <input matInput [(ngModel)]="wordC">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>單字音標</mat-label>
          <input matInput [(ngModel)]="wordS">
        </mat-form-field>
      </div>
      <div *ngIf="addWords.length">
        新增單字<div *ngFor="let add of addWords">
          英文:{{add.english}} 中文:{{add.chinese}} 詞性:{{add.speech}}
        </div>
      </div>
      <div class="button-area">
        <button (click)="addWord()" mat-raised-button color="primary">新增單字</button>
        <button (click)="post()" mat-raised-button color="primary">提交</button>
        <!-- <button (click)="reset()" mat-raised-button color="warn">重置</button> -->
      </div>
    </div>
    <div class="word-area" *ngIf="type === 'edit'">
      <mat-card-title>編輯句子</mat-card-title>
      <mat-card-subtitle>Edit Article</mat-card-subtitle>
      <div class="form-area">
        <mat-form-field appearance="legacy">
          <mat-label>標題</mat-label>
          <input matInput [(ngModel)]="editData.title">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>英文</mat-label>
          <input matInput [(ngModel)]="editData.english">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>中文</mat-label>
          <input matInput [(ngModel)]="editData.chinese">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>時間</mat-label>
          <input matInput [(ngModel)]="editData.showDate">
        </mat-form-field>
      </div>
      <div class="button-area">
        <button (click)="put()" mat-raised-button color="primary">提交</button>
        <button (click)="new()" mat-raised-button color="warn">取消</button>
      </div>
    </div>
  </div>
</div>