::ng-deep .mat-dialog-container {
    padding: 36px;
    padding-top: 45px;
    border-radius: 15px !important;
}
.dialog-content{
    margin-bottom: 30px;
}
.dialog-actions {
    display: flex;
    justify-content: flex-end;

    .add-button {
        background-color: #3f51b5;
        color: #fff;
        box-sizing: border-box;
        position: relative;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;
        margin-right: 10px;

        &:hover {
            opacity: 0.9;
        }
    }
    .close-button {
        background-color: #e65f3d;
        color: #fff;
        box-sizing: border-box;
        position: relative;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;

        &:hover {
            opacity: 0.9;
        }
    }
}
