<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">備註單字</h4>
        <h6 class="card-subtitle text-white m-0 op-5">紀錄您備註的單字</h6>
        <button mat-mini-fab color="accent" class="add-noted" *ngIf="storeData.token" (click)="addNoted()">+</button>
    </div>
    <div class="message-box noted-box p-20">
        <div class="message-widget noted-widget" *ngIf="storeData.user && storeData.user.notedWords">
            <!-- Message -->
            <a class="note-word" *ngFor='let noted of storeData.user.notedWords' (click)="seeDetail(noted.word)">
                <div class="word-set">
                    <div class="word">{{noted.word}}</div>
                    <div class="word-speech">{{noted.speech}}</div>
                    <div class="word-chinese">{{noted.chinese}}</div>
                </div>
                <button mat-mini-fab color="warn" (click)="removeNoted($event,noted.word)">
                    <mat-icon>delete</mat-icon>
                </button>
            </a>
        </div>
        <div class="message-widget noted-widget"
            *ngIf="!storeData.user || (storeData.user && storeData.user.notedWords && !storeData.user.notedWords.length)">
            <!-- Message -->
            尚無資料
        </div>
    </div>
</mat-card>