<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">備註單字</h4>
        <h6 class="card-subtitle text-white m-0 op-5">紀錄您備註的單字</h6>
        <button mat-mini-fab color="accent" class="add-noted">+</button>
    </div>
    <div class="message-box noted-box p-20">
        <div class="message-widget noted-widget">
            <!-- Message -->
            <a class="note-word" href="#" *ngFor='let noted of notedsData'>
                <div class="word-set">
                    <div class="word">{{noted.word}}</div>
                    <div class="word-speech">{{noted.speech}}</div>
                    <div class="word-chinese">{{noted.chinese}}</div>
                </div>
                <div class="array">></div>
            </a>
        </div>
    </div>
</mat-card>