hr{
    margin: 11px 0;
}
@media screen and (max-width : 420px){
    li{
        margin-right: 3px;
        i{
            margin-right: 3px;
        }
    }
}
@media screen and (max-width : 374px){
    li{
        margin-right:1px;
        i{
            margin-right:1px;
        }
    }
}