<div class="login-outer">
  <div class="login-area" *ngIf="type === 'login'">
    <div class="login-html">
      <h4 class="modal-title">登入</h4>
      <div class="modal-body">
        <div>
          <div class="form-set">
            <div class="label">帳號</div>
            <input type="text" [(ngModel)]="account">
            <div class="err">{{accountErr}}</div>
          </div>
          <div class="form-set">
            <div class="label">密碼</div>
            <input [type]="hide ? 'password' : 'text'" (keydown.enter)="login()" [(ngModel)]="password">
            <div class="err">{{passwordErr}}</div>
          </div>
          <div class="button-area">
            <button class="login-btn" (click)="login()">登入</button>
            <button class="close-btn" (click)="close()">取消</button>
          </div>
          <div class="register" (click)="goRegister()">註冊成為會員</div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="foot-lnk">
        Dylan's English
      </div>
    </div>
  </div>
  <div class="login-area register-area" *ngIf="type === 'register'">
    <div class="login-html">
      <h4 class="modal-title">註冊</h4>
      <div class="modal-body">
        <div>
          <div class="form-set">
            <div class="label">帳號</div>
            <input type="text" [(ngModel)]="re_account">
            <div class="err">{{re_accountErr}}</div>
          </div>
          <div class="form-set">
            <div class="label">密碼</div>
            <input [type]="re_hide ? 'password' : 'text'" [(ngModel)]="re_password">
            <div class="err">{{re_passwordErr}}</div>
          </div>
          <div class="form-set">
            <div class="label">郵箱</div>
            <input type="text" [(ngModel)]="re_mail">
            <div class="err">{{re_mailErr}}</div>
          </div>
          <div class="form-set">
            <div class="label">姓名</div>
            <input type="text" (keydown.enter)="register()" [(ngModel)]="re_name">
            <div class="err">{{re_nameErr}}</div>
          </div>
          <div class="button-area">
            <button class="login-btn" (click)="register()">註冊</button>
            <button class="close-btn" (click)="close()">取消</button>
          </div>
          <div class="register" (click)="goLogin()">前往登入</div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="foot-lnk">
        Dylan's English
      </div>
    </div>
  </div>
</div>