.link{
    display: flex;
    flex-direction: column;
    a{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        &:hover{
            background-color: #fbfbfb;
        }
    }
}