.panel-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 20px;
  height: 25px;
  margin-left: 5px;
}
.leve {
  font-size: 20px;
  color: rgb(114, 192, 186);
  font-weight: 600;
}
.score {
  font-size: 12px;
}
.mat-card-title {
  transform: translateX(-2.5px);
}
.word-chinese {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 600;
}

.mat-expansion-panel-header {
  height: 100% !important;
  padding: 5px 24px;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
}

.mat-form-field {
  margin: 10px 0 0;
}

.right-area {
  display: flex;
  align-items: center;
}

.see-more {
  font-size: 14px;
  margin-right: 10px;
}

.title-area {
  display: flex;
  flex-direction: column;
}

.input-icon {
  cursor: pointer;
  margin: 0 5px !important;
}

@media screen and (max-width: 784px) {
  .mat-expansion-panel-body {
    padding: 5px 0px 5px 10px;
  }

  .mat-expansion-panel-header {
    padding: 5px 0px 5px 10px;
  }
}
