.panel-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 20px;
  height: 25px;
  margin-left: 5px;
  vertical-align: bottom;
}
.leve {
  font-size: 20px;
  color: rgb(114, 192, 186);
  font-weight: 600;
}
.score {
  font-size: 12px;
}
.mat-card-title {
  transform: translateX(-2.5px);
}
.word-chinese {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 600;
}

.mat-expansion-panel-header {
  height: 100% !important;
  padding: 5px 24px;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
}

.mat-form-field {
  margin: 10px 0 0;
}

.right-area {
  display: flex;
  align-items: center;
}

.see-more {
  font-size: 14px;
  margin-right: 10px;
}

.title-area {
  display: flex;
  flex-direction: column;
}

.guide {
  margin-bottom: 3px;
  img {
    transform: translateY(-3px);
  }
  .material-icons {
    font-size: 20px;
    vertical-align: bottom;
    transform: translateY(-4px);
  }
}
.input-icon {
  cursor: pointer;
  margin: 0 5px !important;
}

@media screen and (max-width: 784px) {
  .mat-expansion-panel-body {
    padding: 5px 0px 5px 10px;
  }

  .mat-expansion-panel-header {
    padding: 5px 0px 5px 10px;
  }
}
@media screen and (max-width: 400px) {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 9px 0 !important;
  }
  .material-icons {
    font-size: 20px;
  }
  img {
    width: 15px;
    height: 25px;
    margin-left: 2px;
  }
  .guide {
    img {
      transform: translateY(-1px);
    }
    .material-icons {
      font-size: 18px;
    }
  }
  .sentence-set .word-sentence {
    font-size: 12px;
  }
  .sentence-set .word-sentence-chinese {
    font-size: 12px;
  }
}

@media screen and (max-width: 374px) {
  .material-icons {
    font-size: 20px;
  }
  img {
    width: 15px;
    height: 20px;
    margin-left: 2px;
  }
  .ng-star-inserted {
    font-size: 12px;
  }
}
