<div class="loading" *ngIf="loading">
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<mat-card-content *ngIf="!loading">
    <div class="title-area">
        <div class="leve">Level {{routerData.level}}</div>
        <mat-card-title>{{routerData.title}} <span class="score">{{routerData.score}}</span></mat-card-title>
        <mat-card-subtitle>{{routerData.subtitle}}</mat-card-subtitle>
    </div>

    <mat-form-field appearance="legacy">
        <mat-label>查詢單字</mat-label>
        <input matInput [(ngModel)]="searchWord" (keydown.enter)="getWordsByLesson()">
        <mat-icon class="input-icon" *ngIf="searchWord" matSuffix (click)="resetSearch()">close</mat-icon>
        <mat-icon class="input-icon" (click)="getWordsByLesson()" matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>選擇課堂</mat-label>
        <mat-select (selectionChange)="getWordsByLesson()" [(ngModel)]="selectedValue">
            <mat-option *ngFor="let lesson of lessons" [value]='lesson'>第 {{lesson}} 課</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="guide">
        <span *ngIf="store.user"><img src="../../assets/images/know.svg" alt="know"> 新增刪除記熟 </span>
        <span *ngIf="store.user">
            <span class="material-icons" style="transform: translateY(-1.55px);">
                toggle_off
            </span> 備註單字
        </span>
        <span class="material-icons">
            travel_explore
        </span>
        看單字詳細
    </div>
    <ng-container *ngFor="let word of words">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="panel-bar">
                        <div class="left-area">
                            <div class="word-set">
                                <div class="word">{{word.word}}</div>
                                <div class="word-speech">{{word.speech}}</div>
                                <span *ngIf="store.user && store.knowWord && store.knowWord.indexOf(word.word) !== -1"
                                    (click)="removeKnow($event,word.word)" matTooltipPosition="right"
                                    matTooltip="移除已記熟單字" matTooltipClass="tooltip-primary">
                                    <img src="../../assets/images/know.svg" alt="know">
                                </span>

                                <span *ngIf="store.user && store.knowWord && store.knowWord.indexOf(word.word) === -1"
                                    (click)="addKnow($event,word.word)" matTooltipPosition="right" matTooltip="新增為已記熟單字"
                                    matTooltipClass="tooltip-primary">
                                    <img src="../../assets/images/notKnow.svg" alt="notKnow">
                                </span>
                            </div>
                            <div class="sentence-set">
                                <div class="word-sentence">{{word.sentence}}</div>
                            </div>
                        </div>
                        <a (click)="seeDetail($event,word)" class="right-area">
                            <span class="material-icons" matTooltip="查看詳細資料" matTooltipClass="tooltip-primary">
                                travel_explore
                            </span>
                        </a>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container class="toggle-bar">
                <div class="word-set">
                    <div class="word-chinese">{{word.chinese}}</div>
                    <span matTooltipPosition="right" matTooltip="新增備註單字" matTooltipClass="tooltip-primary"
                        *ngIf="store.user && store.notedWord && store.notedWord.indexOf(word.word) === -1"
                        (click)="addNoted($event,word.word)" class="material-icons noted-icon"
                        style="margin-left: 5px;transform: translateY(-3px);cursor: pointer;">
                        toggle_off
                    </span>
                    <span matTooltipPosition="right" matTooltip="移除備註單字" matTooltipClass="tooltip-primary"
                        *ngIf="store.user && store.notedWord && store.notedWord.indexOf(word.word) !== -1"
                        (click)="removeNoted($event,word.word)" class="material-icons noted-icon"
                        style="margin-left: 5px;transform: translateY(-3px);cursor: pointer;">
                        toggle_on
                    </span>
                </div>
                <div class="sentence-set">
                    <div class="word-sentence-chinese">{{word.sentenceChinese}}</div>
                </div>
            </ng-container>
        </mat-expansion-panel>
    </ng-container>
</mat-card-content>