<mat-card>
  <div class="loading" *ngIf="loading">
    <div class="preloader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
  <div class="word-area" *ngIf="!loading">
    <mat-card-title>新增單字</mat-card-title>
    <mat-card-subtitle>New Words</mat-card-subtitle>
    <mat-form-field appearance="legacy">
      <mat-label>單字</mat-label>
      <input matInput [(ngModel)]="word">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>中文</mat-label>
      <input matInput [(ngModel)]="chinese">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>詞性</mat-label>
      <mat-select [(ngModel)]="speech">
        <mat-option value='n'>n 名詞</mat-option>
        <mat-option value='v'>v 動詞</mat-option>
        <mat-option value='adj'>adj 形容詞</mat-option>
        <mat-option value='adv'>adv 副詞</mat-option>
        <mat-option value='prep'>prep 介係詞</mat-option>
        <mat-option value='pron'>pron 代名詞</mat-option>
        <mat-option value='conj'>conj 連接詞</mat-option>
        <mat-option value='int'>int 感歎詞</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>英文句子</mat-label>
      <input matInput [(ngModel)]="sentence">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>中文句子</mat-label>
      <input matInput [(ngModel)]="sentenceChinese">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>片語</mat-label>
      <input matInput [(ngModel)]="phrase">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>衍生詞</mat-label>
      <input matInput [(ngModel)]="derivative">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>相似詞</mat-label>
      <input matInput [(ngModel)]="synonym">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>相反詞</mat-label>
      <input matInput [(ngModel)]="antonym">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>備註</mat-label>
      <input matInput [(ngModel)]="note">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>課程</mat-label>
      <mat-select [(ngModel)]="lesson">
        <mat-option *ngFor="let i of arr" [value]='i'>{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>等級</mat-label>
      <mat-select [(ngModel)]="level">
        <mat-option value='orange'>orange</mat-option>
        <mat-option value='brown'>brown</mat-option>
        <mat-option value='green'>green</mat-option>
        <mat-option value='blue'>blue</mat-option>
        <mat-option value='gold'>gold</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="post()" mat-raised-button color="primary">提交</button>
    <button (click)="reset()" mat-raised-button color="warn">重置</button>
  </div>
</mat-card>
