<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img *ngIf="!store.user" src="assets/images/users/man.png" width="100" alt="user" class="img-circle">
            <img *ngIf="store.user && store.user.gender === 'male'" src="assets/images/users/male.png" width="100"
                alt="user" class="img-circle">
            <img *ngIf="store.user && store.user.gender === 'female'" src="assets/images/users/female.png" width="100"
                alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">{{store.user ? store.user.name : '匿名使用者'}}</h3>
        <h6 class="m-t-0">{{store.user ? store.user.username : '尚未登入'}}</h6>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" *ngIf="!store.token">
                <span class="material-icons rwd-icon">
                    login
                </span> 登入</button>
            <button mat-raised-button color="warn" (click)="register()" class="register"
                *ngIf="!store.token">註冊</button>
            <button mat-raised-button color="warn" (click)="logout()" *ngIf="store.token">登出</button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light register-text">{{store.user ? store.user.created.slice(0,10) :
                    '尚未登入'}}</h3>
                <small>註冊日期</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">{{store.user ? store.user.knowWords.length : '0'}}</h3>
                <small>完成量</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">{{store.user ? store.user.notedWords.length : '0'}}</h3>
                <small>備註量</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>