.word-set {
  align-items: center;

  .word {
    font-size: 40px;
    font-weight: 600;
  }

  .word-speech {
    margin: auto 0 auto 7px;
    font-size: 20px;
    padding: 2px 5px;

  }

  .word-chinese {
    font-size: 22px;
    color: #777;
    margin-left: 10px;
  }
}

.sentence-set {

  .word-sentence {
    font-size: 20px;
    margin: 5px 0 1px;
    color: #777;
  }

  .word-sentence-chinese {
    font-size: 18px;
  }
}

.other-set {
  .word-other {
    font-size: 16px;
  }
}

.level-area {
  border-top: 1px solid #aaa;
  margin-top: 10px;

  .word-level {
    text-transform: capitalize;
    margin: 10px 5px 0 0;
    display: inline-block;
    background-color: #777;
    padding: 1px 5px;
    font-size: 14px;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
  }
}

::ng-deep .mat-dialog-container {
  padding: 36px;
  padding-top: 45px;
  border-radius: 15px !important;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #e65f3d;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;

    &:hover {
      opacity: 0.9;
    }
  }

}

@media screen and (max-width:768px) {

  ::ng-deep .mat-dialog-container {
    padding: 28px;
    padding-top: 38px;
    border-radius: 15px !important;
  }

  .word-set {
    .word {
      font-size: 30px;
    }

    .word-speech {
      font-size: 16px;
    }

    .word-chinese {
      font-size: 20px;
    }
  }

  .sentence-set {

    .word-sentence {
      font-size: 16px;
    }

    .word-sentence-chinese {
      font-size: 14px;
    }
  }

  .level-area {
    .word-level {
      font-size: 13px;
    }
  }

  .other-set {
    .word-other {
      font-size: 14px;
    }
  }

}

@media screen and (max-width:500px) {

  ::ng-deep .cdk-overlay-pane {
    max-width: 90vw !important;
  }

  ::ng-deep .mat-dialog-container {
    padding: 26px;
    padding-top: 36px;
    border-radius: 15px !important;
  }

  .word-set {
    .word {
      font-size: 28px;
    }

    .word-speech {
      font-size: 12px;
      padding: 4px 5px;
    }

    .word-chinese {
      font-size: 1px;
    }
  }

  .sentence-set {

    .word-sentence {
      font-size: 14x;
    }

    .word-sentence-chinese {
      font-size: 13px;
    }
  }

  .level-area {
    .word-level {
      font-size: 12px;
    }
  }

  .other-set {
    .word-other {
      font-size: 14px;
    }
  }
}
