
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

        <app-user [storeData]="storeData"></app-user>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="67" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">

        <app-daily [storeData]="storeData"></app-daily>
        <app-noted [storeData]="storeData"></app-noted>
    </div>
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">

        <app-overview [storeData]="storeData"></app-overview>

    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

        <app-level [storeData]="storeData"></app-level>

    </div>
    <!-- column -->
</div>
